name: Build and Push Python Base Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Image
        run: docker build -t python_base_image:local .

      - name: Run Vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'python_base_image:local'
          format: 'table'
          exit-code: '1' # 深刻な脆弱性がある場合にビルドを失敗させる
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true # 修正手段が無い場合は無視する

      - name: Smoke Test (Verify versions)
        run: |
          docker run --rm python_base_image:local google-chrome --version
          docker run --rm python_base_image:local chromedriver --version
          docker run --rm python_base_image:local pip show selenium

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push to Dockerhub
        run: |
          docker tag python_base_image:local ${{ secrets.DOCKERHUB_USERNAME }}/python_base_image:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/python_base_image:latest
